.subscribe {
  margin-top: 100px;
  width: 1100px;
  height: 40vh;
  margin: 0 auto;
  background-color: #9aede6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-top: -10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: centers;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group input {
  margin: 0 20px;
  padding: 5px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 3px;

}

.form-group input::placeholder {
  font-family: 'Poppins', sans-serif;
}

.form-group input:focus {
  outline: none;
}

.submit {
  display: inline-block;
  padding:10px;
  width: 40%;
  margin: 0 auto;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}


